body {

    background-color:gray;


}



.title {
    text-align:center;
    color:green;
    font-family: "Comic Sans MS", cursive, sans-serif ;
}


.searchbar {
    text-align:center;
    
}


.buttons {
    
    text-align:center;
}